@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

.hidden {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  line-height: 1.4;
  font-family: 'Noto Sans KR', sans-serif;
  position: relative;
  overflow: hidden;
}
body:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

#login-form,
#greeting {
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 1;
}

#login-form input {
  appearance: none;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  padding: 10px 15px;
}
#login-form input::placeholder {
  color: #bbb;
}
#login-form input:last-child {
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}
#login-form input:last-child:hover {
  background-color: crimson;
  border-color: crimson;
}

#greeting {
  color: #fff;
}

#clock {
  font-size: 24px;
  color: #fff;
  position: absolute;
  left: 40px;
  top: 40px;
  z-index: 1;
}

#todo {
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
  z-index: 1;
}
#todo-form input {
  appearance: none;
  width: 600px;
  font-size: 24px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  padding: 10px 15px;
}
#todo-form input::placeholder {
  color: #bbb;
}

#todo-list {
  height: 500px;
  padding: 0 8px;
  margin-top: 10px;
  overflow: auto;
}
#todo-list::-webkit-scrollbar {
  width: 10px;
}
#todo-list::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
#todo-list::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
#todo-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  background-color: #fff;
  padding: 8px;
  margin-top: 10px;
}
#todo-list li:first-child {
  margin-top: 0;
}
#todo-list button {
  background-color: transparent;
  border: 1px solid #dcdcdc;
  padding: 4px 10px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}
#todo-list button:hover {
  color: #fff;
  background-color: crimson;
  border-color: crimson;
}

#quote {
  display: flex;
  flex-direction: column;
  color: #fff;
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  z-index: 1;
}
#quote span {
  white-space: nowrap;
}
#quote span:last-child {
  text-align: right;
}

#weather {
  color: #fff;
  position: absolute;
  right: 40px;
  top: 80px;
  z-index: 1;
}
